*{
    color:#f5ecf4;
}

.bgimg-dt{
background:url('../dani nobg.png');
background-repeat: no-repeat;
background-size: 20vh 20vh;
background-position: right;
}
.bgimg-mob{
background:url('../dani nobg.png');
background-repeat: no-repeat;
background-size: 12.5vh 12.5vh;
background-position: bottom right;
}

.skills{
    text-align: center;
    margin:1%;
    box-shadow: 90% 90%;
    height: 2.5vh;
    width: 10vw;
    background-color: aqua;
    color:black;
    font-size: 1vw;
    display:table-cell;
    vertical-align: middle;
    
    
}

.proj{
 cursor: pointer;
  
}
.proj:hover img{
opacity: 0.6;
}