@role-color: #5C605E;
@software-color: #4A4E4C;
@language-color: #383D3B;
@icon-color: #333836;
@bg-color: #E1E1E8;
@border-color: #333836;

body {
    overflow: -moz-scrollbars-vertical;
    overflow-x: hidden;
    overflow-y: hidden;
}

.bgimg-dt {
    background: url('../images/dani nobg.png');
    background-repeat: no-repeat;
    background-size: 20vh 20vh;
    background-position: right;
}

.bgimg-mob {
    background: url('../images/dani nobg.png');
    background-repeat: no-repeat;
    background-size: 12.5vh 12.5vh;
    background-position: bottom right;
}

.categories {
    padding-top: 1.5%;
    padding-left: 10vh;
    /*border-right: solid 1px @border-color;*/
}

.skills {

    text-align: center;
    margin-bottom: 1.5%;
    width: 14.7vw;
    color: @bg-color;
    font-size: 1vw;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    border-radius: 3px;
    display: block;
}

.skills:hover {
    -webkit-font-smoothing: subpixel-antialiased;
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: .1s;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.degree {
    width: 18vw;
    font-size: .9vw;
    margin-top: .5vw;
    margin-left: 2vw;
}

.role {
    width: 10vw;
    background-color: @role-color;
    border-radius: 3px 0px 0px 3px;
    border-color: @role-color
}

.roles {
    .role;
    .skills;
}

.roles:hover {
    cursor: pointer !important;
    opacity: 0.7 !important;
}

.language {
    width: 10vw;
    background-color: @language-color;
    border-radius: 3px 0px 0px 3px;
    border-color: @language-color
}

.languages {
    .language;
    .skills;
}

.languages:hover {
    cursor: pointer !important;
    opacity: 0.6 !important;
}

.software {
    width: 10vw;
    background-color: @software-color;
    border-radius: 3px 0px 0px 3px;
    border-color: @software-color
}

.softwares {
    .software;
    .skills;
}

.softwares:hover {
    cursor: pointer !important;
    opacity: 0.6 !important;
}

.proj {
    cursor: pointer;
}

.proj:hover img {
    opacity: 0.3;
}

.icons {
    color: @icon-color;
}

.icons:hover {
    opacity: 0.6;
}

.site-header {
    background-color: @bg-color;
    border-bottom: solid 1px @border-color;
}

.arrow_box {
    position: relative;

}


.arrow_box:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-left-color: inherit;
    border-width: 1.25vh;
    margin-top: -1.25vh;
}

.projdetails {
    display: none;
    height: 70%;
    width: 100%;
    background-color: @bg-color;
}

#cat {
    .projdetails;
    background-color: @bg-color;

}

#asteroids {
    .projdetails;
    background-color: @bg-color;

}

#chess {
    .projdetails;

}

#perception {
    .projdetails;

}

#umbvrella {
    .projdetails;

}

#zombies {
    .projdetails;

}

#museum {
    .projdetails;

}

#labs {
    .projdetails;

}

.projtitle {
    font-size: 6vh;
    text-decoration: underline;
    margin-bottom: 5%;
}

.projdesc {
    font-size: 2.5vh
}

.projcont {
    margin-left: 2%;
    font-style: italic;
    font-size: 1.5vh;
}
